
Button {
   /* margin: 10px; */
   margin-left: 80px;
   margin-right: -60px;
   margin-top: -20px;
   margin-bottom: 0px;
   width: 140px;
   position: inherit;
   display: inline;
   /* background-color: darkcyan; */
}

h3 {
   margin-left: 80px;
   margin-right: -60px;
   margin-bottom: 10px;
   width: 175px;
   position: relative;
   display: inline;
   /* background-color: darkcyan; */
}

h2 {
   margin-top: -20px;
   /* background-color: darkcyan; */
}

form {
   margin-left: 80px;
   margin-right: -60px;
   margin-top: 20px;
   width: 175px;
   position: relative;
   display: inline;
   /* background-color: darkcyan; */
}

InputGroup {
   margin-left: 80px;
   margin-right: -60px;
   margin-top: 20px;
   width: 175px;
   position: relative;
   display: inline;
   /* background-color: darkcyan; */
}

textarea {
   margin-left: 80px;
   margin-right: -60px;
   margin-top: 10px;
   width: 1055px;
   position: relative;
   display: inline;
   /* background-color: lightgray; */
}